body,html{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif !important;
  color:nth($fontColor,1);
  font-size:$bigFont;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,
legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section{
  margin: 0;
  padding:0;
}
@each $header, $size in $headings {
  #{$header} {
    font-size:$size
  }
}
input,button,select,textarea{
  outline:none
}
textarea{
  resize:none
}
@each $animal, $color, $cursor in $animal-data {
  .#{$animal}-color {
    color:$color;
  }
  .#{$animal}-color-hover{
    color:$cursor
  }
  .#{$animal}-bg {
    background-color: $color;
    color:#fff;
  }
}
@each $nav, $color in $nav-color {
  .#{$nav}-bgColor {
    background-color:$color;
    color:#fff;
  }
}
a,
a:focus,
a:visited{
  text-decoration: none;
  color:nth($fontColor,1);
}
ul{
  >li{
    list-style: none;
  }
}
